.actions-menu {
  display: flex;
}

.actions-menu > *:not(:last-child) {
  margin-right: 2.5rem;
}

.create-note,
.show-trash,
.go-home,
.permanently-delete {
  height: 4.6rem;
  width: 4.6rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.create-note {
  background-color: var(--color-green);
}

.go-home {
  background-color: var(--color-dark-blue);
}

.create-note__icon,
.show-trash__icon,
.go-home__icon,
.permanently-delete__icon {
  fill: var(--color-white);
  position: absolute;
}

.create-note__icon,
.go-home__icon {
  height: 2.3rem;
  width: 2.3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show-trash {
  background-color: var(--color-red);
}

.show-trash__icon {
  height: 2.9rem;
  width: 2.9rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: var(--color-white);
  stroke-width: 5;
}

.permanently-delete {
  background-color: var(--color-dark-red);
}

.permanently-delete:disabled {
  background-color: var(--color-disabled-red);
  cursor: not-allowed;
}

.permanently-delete__icon {
  height: 1.9rem;
  width: 1.9rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search,
.search__input {
  background-color: var(--color-light-grey-1);
  border-radius: 20px;
  transition: all 0.5s;
}

.search {
  padding: 0 2.5rem 0 1.5rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.search__input {
  font-family: inherit;
  font-size: 2.2rem;
  border: none;
  padding: 0.7rem 2rem;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-dark-grey);
}

.search:focus-within,
.search__input:focus {
  outline: none;
  background-color: var(--color-light-grey-2);
}

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-dark-grey);
}

@media screen and (max-width: 626px) {
  .actions-menu > *:not(:last-child) {
    margin-right: 0.5rem;
  }

  .search__input {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 390) {
  .search__input {
    font-size: 1.2rem;
  }
}
