.actions-menu {
  display: flex;
}

.actions-menu > div:not(:last-child) {
  margin-right: 2.5rem;
}

.create-note,
.show-trash {
  height: 4.6rem;
  width: 4.6rem;
  border-radius: 50%;
  position: relative;
}

.create-note {
  background-color: var(--color-green);
}

.create-note__icon,
.show-trash__icon {
  fill: var(--color-white);
  position: absolute;
}

.create-note__icon {
  height: 2.3rem;
  width: 2.3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show-trash {
  background-color: var(--color-red);
}

.show-trash__icon {
  height: 2.9rem;
  width: 2.9rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: white;
  stroke-width: 5;
}

.search,
.search__input {
  background-color: var(--color-light-grey-1);
  transition: all 0.5s;
}

.search {
  padding: 0 2.5rem 0 1.5rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.search__input {
  font-family: inherit;
  font-size: 2.2rem;
  border: none;
  padding: 0.7rem 2rem;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-dark-grey-1);
}

.search:focus-within,
.search__input:focus {
  outline: none;
  background-color: var(--color-light-grey-2);
}

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-dark-grey-1);
}
