.note {
  background-color: var(--color-react-blue);
  padding: 1.8rem;
  border-radius: 10px;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
}

.in-trash-color {
  background-color: var(--color-orange);
}

.note__actions-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
}

.note__icon--edit {
  height: 1.8rem;
  width: 1.8rem;
}

.note__icon-home {
  height: 1.4rem;
  width: 1.4rem;
  fill: var(--color-orange);
}

.note__icon--trash {
  height: 2.7rem;
  width: 2.7rem;
  stroke: var(--color-black);
  stroke-width: 5;
  padding-bottom: 0.3rem;
}

.note__icon--permanent-delete {
  height: 1.9rem;
  width: 1.9rem;
}

.note__title,
.note__text {
  padding-bottom: 1rem;
}

.note__title {
  font-size: 1.6rem;
}

.note__text {
  font-size: 1.4rem;
  line-height: 2rem;
  max-height: 28rem;
}

.note__timestamp {
  font-size: 1.2rem;
  text-align: right;
  padding-top: 0.5rem;
  margin-top: auto;
}

.note__move-home-btn {
  background-color: var(--color-black);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}

.note__move-home-btn > span {
  padding-top: 0.2rem;
  color: var(--color-orange);
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 0.3rem;
}

/* scroll styles adapted from Kamlesh Kushwaha's Jsfiddle:

http://jsfiddle.net/lotusgodkk/eR9SP/70/ */

.scroll::-webkit-scrollbar {
  width: 3px;
}
.scroll::-webkit-scrollbar-track {
  background: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  background: var(--color-light-grey-1);
  visibility: hidden;
}
.scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.scroll {
  overflow-y: auto;
}
