/* to class selectors to guarante higher specificity */

.note-modal.edit-color,
.note-modal__title.edit-color,
.note-modal__text.edit-color {
  background-color: var(--color-purple);
}

.edit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
