@import url("https://rsms.me/inter/inter.css");

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  --color-react-blue: #61dafb;

  --color-light-grey-1: #eeeeee;
  --color-light-grey-2: #e4e4e4;

  --color-dark-grey-1: #777;

  --color-green: #0aff99;
  --color-red: #ff0000;
  --color-white: #fff;
  --color-black: #000;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  padding: 0 2rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 120rem;
  margin: 0 auto;
}

@media screen and (max-width: 969px) {
  html {
    font-size: 56.5%;
  }
}

@media screen and (max-width: 870px) {
  html {
    font-size: 50.5%;
  }
}

@media screen and (max-width: 776px) {
  html {
    font-size: 45.5%;
  }
}

